<div class="container">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="card bg-dark text-white mb-3 mt-5" style="width: 500px">
                <div class="card-body">
                    <div class="card-header mb-3 bg-success text-white">Search for City</div>
                    {{ form_start(form, { attr: {
                        class: 'form-wrapper',
                    }}) }}
                    <h4 class="ml-3 text-secondary">Token</h4>
                    <div class="form_group text-center">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.token, {'attr': {'class': 'form-control',
                            'placeholder': 'Please enter token'}}) }}
                        </div>
                    </div>
                    <h4 class="ml-3 text-secondary">City</h4>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_row(form.city, {'attr': {'class': 'form-control',
                                    'placeholder' : 'Please enter city'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary bg-success border-0">
                                    <i class="fa fa-btn fa-user"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>