{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-header mb-3 bg-success text-white text-center font-weight-bold">
        Curious what's the weather today?
    </div>
    {{ include('form/_weather.html.twig') }}

    {{ include('view/city_weather.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/weather_show.js') }}"></script>
{% endblock %}